{% extends 'maintemplate.html' %}
{% load humanize %}
{% load static %}
{% load render_partial %}

{% block title %}{{current_category.title}}{% endblock title %}

{% block content %}
    <div class="site__body">
        <div class="page-header">
            <div class="page-header__container container">
                <div class="page-header__breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'main:index' %}">خانه</a>
                                /
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">محصولات</a>
                            </li>
                            
                        </ol>
                    </nav>
                </div>
                <div class="page-header__title">
                    <h1>{{current_category.title}}</h1></div>
            </div>
        </div>
        <div class="container">
            <div class="shop-layout shop-layout--sidebar--start">
                <div class="shop-layout__sidebar">
                    <div class="block block-sidebar">
                        {% include 'products/partials/filters.html' %}
                        {% render_partial 'products:newest' %}
                    </div>
                </div>
                <div class="shop-layout__content">
                    <div class="block">
                        <div class="products-view">
                            <div class="products-view__options">
                                <div class="view-options">

                                    <div class="view-options__legend">در حال نمایش {{object_list.count}} از {{paginator.object_list.count}} محصول</div>
                                    <div class="view-options__divider"></div>
                                    <div class="view-options__control">
                                        <label for="">مرتب‌سازی بر اساس</label>
                                        <div>
                                            <select class="form-control form-control-sm" name="" id="select_sort" onchange="select_sort();">
                                                {% if sort_type == "0" %}
                                                    <option value="0" selected>پیش فرض</option>
                                                    <option value="1">قیمت (صعودی)</option>
                                                    <option value="2">قیمت  (نزولی)</option>
                                                {% elif sort_type == '1' %}
                                                    <option value="0">پیش فرض</option>
                                                    <option value="1" selected>قیمت (صعودی)</option>
                                                    <option value="2">قیمت (نزولی)</option>
                                                {% elif sort_type == '2' %}
                                                    <option value="0">پیش فرض</option>
                                                    <option value="1">قیمت (صعودی)</option>
                                                    <option value="2" selected>قیمت (نزولی)</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    {% comment %} <div class="view-options__control">
                                        <label for="">نمایش</label>
                                        <div>
                                            <select class="form-control form-control-sm" onchange="select_paginate_by();" id="select_paginate_by">
                                                {% for item in paginate_by %}
                                                    <option value="{{item}}">{{item}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div> {% endcomment %}
                                </div>
                            </div>
                            {% include 'products/partials/show_products.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
