{% extends 'maintemplate.html' %}
{% load humanize %}
{% load render_partial %}

{% block title %}{{product.name}}{% endblock title %}

{% block content %}
    <div class="site__body">
        <div class="page-header">
            <div class="page-header__container container">
                <div class="page-header__breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="index.html">خانه</a>
                                /
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">محصولات</a>
                                /
                            </li>
                            <li class="active" aria-current="page">محصول</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="container">
                <div class="product product--layout--columnar" data-layout="columnar">
                    <div class="product__content">
                        <!-- .product__gallery -->
                        <div class="product__gallery">
                            <div class="product-gallery">
                                <div class="product-gallery__featured">
                                    <div class="owl-carousel" id="product-image">
                                        <a href="{{media_url}}{{product.main_image}}" target="_blank"><img src="{{media_url}}{{product.main_image}}" alt="{{product.name}}"> </a>
                                        {% for image in product.images.all %}
                                            <a href="{{media_url}}{{image.images}}" target="_blank"><img src="{{media_url}}{{image.images}}" alt="{{product.name}}"> </a>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="product-gallery__carousel">
                                    <div class="owl-carousel" id="product-carousel">
                                        <a href="{{media_url}}{{product.main_image}}" class="product-gallery__carousel-item"><img class="product-gallery__carousel-image" src="{{media_url}}{{product.main_image}}" alt="{{product.name}}"> </a>
                                        {% for image in product.images.all %}
                                            <a href="{{media_url}}{{image.images}}" class="product-gallery__carousel-item"><img class="product-gallery__carousel-image" src="{{media_url}}{{image.images}}" alt="{{product.name}}"> </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .product__gallery / end -->
                        <!-- .product__info -->
                        <div class="product__info">
                            <h1 class="product__name">{{product.name}}</h1>
                            <div class="product__description">{{product.short_text}}</div>
                            <ul class="product__features">
                                {% for feature in product.product_features.all %}
                                    <li>{{feature.feature}}: {{feature.digital_value}}</li>
                                {% endfor %}
                            </ul>
                            <ul class="product__meta">
                                {% comment %} <li class="product__meta-availability">موجودی: <span class="text-success">موجود در انبار</span></li> {% endcomment %}
                                {% comment %} <li>برند: <a href="">ال جی</a></li>
                                <li>تعداد نظرات: <a href="">7</a> نظر</li> {% endcomment %}

                            </ul>
                        </div>
                        <!-- .product__info / end -->
                        <!-- .product__sidebar -->
                        {% include 'products/partials/sidebar.html' %}
                        <!-- .product__end -->
                        <div class="product__footer">
                            <div class="scoring">
                                <h7>میانگین امتیازات کالا : <span id="avg-score" class="highlight_green">{{product.get_avg_score}}</span></h7>
                                {% if user.is_authenticated %}
                                    {% if product.get_current_user_score > 0 %}
                                        <div class="scored-star-wrapper">
                                            {% with ''|center:5 as range %}
                                                {% for i in range %}
                                                    {% if forloop.counter <= product.get_current_user_score %}
                                                        <span id="star_{{forloop.counter}}" class="fas fa-star star-checked"></span>
                                                    {% else %}
                                                        <span id="star_{{forloop.counter}}" class="fas fa-star"></span>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endwith %}
                                        </div>
                                    {% else %}
                                        <div class="star-wrapper">
                                            <a id="star_5" class="fas fa-star s5" onclick="addScore(5,{{product.id}})"></a>
                                            <a id="star_4" class="fas fa-star s4" onclick="addScore(4,{{product.id}})"></a>
                                            <a id="star_3" class="fas fa-star s3" onclick="addScore(3,{{product.id}})"></a>
                                            <a id="star_2" class="fas fa-star s2" onclick="addScore(2,{{product.id}})"></a>
                                            <a id="star_1" class="fas fa-star s1" onclick="addScore(1,{{product.id}})"></a>
                                        </div>
                                    {% endif %}
                                {% else %}
                                        <h6>
                                            برای امتیازدهی
                                            <a href="{% url 'accounts:login' %}?next=/products/product_details/{{product.slug}}/">ورود</a>
                                            یا
                                            <a href="{% url 'accounts:register' %}?next=/products/product_details/{{product.slug}}/">ثبت نام</a>
                                            کنید
                                        </h6>
                                {% endif %}
                            </div>
                            <br>
                            <div class="product__tags tags">
                                <div class="tags__list">
                                    <a href="{{product.category.get_absolute_url}}">{{product.category}}</a>
                                    {% for value in product.product_features.all %}
                                        <a>{{value.digital_value}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="product__share-links share-links">
                                <ul class="share-links__list">
                                    <li class="share-links__item share-links__item--type--like"><a onclick="copyToClipboard()">اشتراک گذاری</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-tabs">
                    <div class="product-tabs__list">
                        <a href="#tab-description" class="product-tabs__item product-tabs__item--active">توضیحات</a> 
                        <a href="#tab-reviews" class="product-tabs__item">دیدگاه ها</a>
                    </div>
                    <div class="product-tabs__content">
                        <div class="product-tabs__pane product-tabs__pane--active" id="tab-description">
                            <div class="typography">
                                <h3>توضیحات کامل محصول</h3>
                                {% autoescape off %}
                                    <p>{{product.text}}</p>
                                {% endautoescape %}
                            </div>
                        </div>
                        {% include 'sides/partials/reviews.html' %}
                    </div>
                </div>
            </div>
        </div>
        <!-- .block-products-carousel -->
        {% render_partial 'products:related' slug=product.slug %}
        <!-- .block-products-carousel / end -->
    </div>
{% endblock content %}
