{% extends 'maintemplate.html' %}
{% load render_partial %}
{% block title %}سبد خرید{% endblock title %}

{% block content %}
    <div class="site__body">
        <div class="page-header">
            <div class="page-header__container container">
                <div class="page-header__breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'main:index' %}">خانه</a>
                                /
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">سبد خرید</li>
                        </ol>
                    </nav>
                </div>
                <div class="page-header__title">
                    <h1>سبد خرید</h1>
                </div>
            </div>
        </div>
        {% render_partial 'orders:shop_cart_detail' %}
    </div>
{% endblock content %}