{% if type == 'normal-detailed' %}
    <div class="product-card">
        <div class="product-card__image">
            <a href="product.html">
                <img src="{{media_url}}images/products/p1.jpg" alt="">
            </a>
        </div>
        <div class="product-card__info">
            <div class="product-card__name">
                <a href="product.html">
                    کالای شماره 1
                </a>
            </div>
        </div>
        <div class="product-card__actions">
            <div class="product-card__prices">200,000 تومان</div>
            <div class="product-card__buttons">
                <button class="btn btn-primary product-card__addtocart"
                    type="button">
                    افزودن به سبد
                </button>
                <button
                    class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist"
                    type="button">
                    <i class="fa fa-heart"></i>
                    <span
                        class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
                </button>
                <button
                    class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist"
                    type="button">
                    <i class="fa fa-shopping-cart"></i>
                    <span
                        class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
                </button>
            </div>
        </div>
    </div>
{% elif type == 'normal' %}
    <div class="product-card">
        <div class="product-card__badges-list">
            <div class="product-card__badge product-card__badge--new">جدید</div>
        </div>
        <div class="product-card__image">
            <a href="product.html">
                <img src="https://picsum.photos/700/700" alt="">
            </a>
        </div>
        <div class="product-card__info">
            <div class="product-card__name"><a href="product.html">اره برقی برندیکس مدل 300 وات</a></div>

        </div>
        <div class="product-card__actions">
            <div class="product-card__availability">موجودی: <span class="text-success">موجود در انبار</span></div>
            <div class="product-card__prices">749,000 تومان</div>
            <div class="product-card__buttons">
                <button class="btn btn-primary product-card__addtocart" type="button">افزودن به سبد</button>
                <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list" type="button">افزودن به سبد</button>
                <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                    <svg width="16px" height="16px">
                        <use xlink:href="images/sprite.svg#wishlist-16"></use>
                    </svg> <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span></button>
                <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__compare" type="button">
                    <svg width="16px" height="16px">
                        <use xlink:href="images/sprite.svg#compare-16"></use>
                    </svg> <span class="fake-svg-icon fake-svg-icon--compare-16"></span></button>
            </div>
        </div>
    </div>
{% elif type == 'small' %}
    <div class="widget-products__item">
        <div class="widget-products__image">
            <a href="product.html">
                <img src="https://picsum.photos/700/700" alt="">
            </a>
        </div>
        <div class="widget-products__info">
            <div class="widget-products__name"><a href="product.html">اره برقی برندیکس مدل 300 وات</a></div>
            <div class="widget-products__prices">749,000 تومان</div>
        </div>
    </div>
{% elif type == 'big' %}
    <div class="product-card">

        <div class="product-card__badges-list">
            <div class="product-card__badge product-card__badge--new">جدید</div>
        </div>
        <div class="product-card__image">
            <a href="product.html">
                <img src="{{media_url}}images/products/p1.jpg" alt="">
            </a>
        </div>
        <div class="product-card__info">
            <div class="product-card__name">
                <a href="product.html">
                    کالای شماره 2
                </a>
            </div>

        </div>
        <div class="product-card__actions">
            <div class="product-card__availability">موجودی: <span class="text-success">موجود
                    در انبار</span></div>
            <div class="product-card__prices">200,000 تومان</div>
            <div class="product-card__buttons">
                <button class="btn btn-primary product-card__addtocart" type="button">
                    افزودن به سبد
                </button>
                <button
                    class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist"
                    type="button">
                    <i class="fa fa-heart"></i>
                    <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
                </button>
                <button
                    class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist"
                    type="button">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
                </button>
            </div>
        </div>
    </div>
{% endif %}