{% load humanize %}
{% if type == 'normal-detailed' %}
    <div class="product-card">
        <div class="product-card__image">
            <a href="{{product.get_absolute_url}}">
                <img src="{{media_url}}{{product.main_image}}" alt="{{product.name}}">
            </a>
        </div>
        <div class="product-card__info">
            <div class="product-card__name">
                <a href="{{product.get_absolute_url}}">
                    {{product.name}}
                </a>
            </div>
        </div>
        <div class="product-card__actions">
            {% if product.get_quantity_in_warehouse <= 0 %}
                <span style="color:red;">ناموجود</span>     
            {% else %}
                {% if product.price > product.get_discounted_price %}
                    <div class="product-card__prices">
                        <span class="product-card__new-price">{{product.get_discounted_price|intcomma:False}} تومان</span> 
                        <span class="product-card__old-price">{{product.price|intcomma:False}} تومان</span>
                    </div>
                {% else %}
                    <div class="product-card__prices">{{product.price|intcomma:False}} تومان</div>
                {% endif %}
                <div class="product-card__buttons">
                    {% if product.get_quantity_in_warehouse > 0 %}
                        <button class="add_button_{{product.id}} btn btn-primary product-card__addtocart" onclick="shopCarts({{product.id}});">
                            افزودن به سبد
                        </button>
                    {% endif %}
                    {% if user.is_authenticated %}
                        {% if product.is_user_favorite %}
                            <script>
                                likeFavoriteProducts({{product.id}});
                            </script>
                        {% endif %}
                            <button class="btn btn-light" onclick="favorites({{product.id}});">
                                <span class="fa fa-heart" name="like-{{product.id}}"></span>
                            </button>
                    {% endif %}
                    {% if product.get_quantity_in_warehouse > 0 %}
                        <script>
                            likeShopCartProducts({{product.id}});
                        </script>
                        <button onclick="shopCarts({{product.id}});"
                            class="btn btn-light">
                            <i class="fa fa-shopping-cart" name="shopping-cart-{{product.id}}"></i>
                        </button>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% elif type == 'normal' %}
    <div class="product-card">
        <div class="product-card__badges-list">
            <div class="product-card__badge product-card__badge--new">جدید</div>
        </div>
        <div class="product-card__image">
            <a href="{{product.get_absolute_url}}">
                <img src="{{media_url}}{{product.main_image}}" alt="{{product.name}}">
            </a>
        </div>
        <div class="product-card__info">
            <div class="product-card__name"><a href="{{product.get_absolute_url}}">{{product.name}}</a></div>

        </div>
        <div class="product-card__actions">
            {% if product.get_quantity_in_warehouse <= 0 %}
                {% comment %} <div class="product-card__availability">موجودی: <span class="text-success">موجود در انبار</span></div> {% endcomment %}
                <span style="color:red;">ناموجود</span>     
            {% else %}
                {% if product.price > product.get_discounted_price %}
                    <div class="product-card__prices">
                        <span class="product-card__new-price">{{product.get_discounted_price|intcomma:False}} تومان</span> 
                        <span class="product-card__old-price">{{product.price|intcomma:False}} تومان</span>
                    </div>
                {% else %}
                    <div class="product-card__prices">{{product.price|intcomma:False}} تومان</div>
                {% endif %}
                <div class="product-card__buttons">
                    <button class="btn btn-primary product-card__addtocart" onclick="addToShopCart({{product.id}}, 1);">افزودن به سبد</button>
                </div>
            {% endif %}
        </div>
    </div>
{% elif type == 'small' %}
    <div class="widget-products__item">
        <div class="widget-products__image">
            <a href="{{product.get_absolute_url}}">
                <img src="{{media_url}}{{product.main_image}}" alt="{{product.name}}">
            </a>
        </div>
        <div class="widget-products__info">
            <div class="widget-products__name"><a href="{{product.get_absolute_url}}">{{product.name}}</a></div>
            {% if product.get_quantity_in_warehouse <= 0 %}
                <span style="color:red;">ناموجود</span>     
            {% else %}
                {% if product.price > product.get_discounted_price %}
                    <div class="product-card__prices">
                        <span class="product-card__new-price">{{product.get_discounted_price|intcomma:False}} تومان</span> 
                        <span class="product-card__old-price">{{product.price|intcomma:False}} تومان</span>
                    </div>
                {% else %}
                    <div class="product-card__prices">{{product.price|intcomma:False}} تومان</div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% elif type == 'big' %}
    <div class="product-card">

        <div class="product-card__badges-list">
            <div class="product-card__badge product-card__badge--new">جدید</div>
        </div>
        <div class="product-card__image">
            <a href="{{product.get_absolute_url}}">
                <img src="{{media_url}}images/products/p1.jpg" alt="">
            </a>
        </div>
        <div class="product-card__info">
            <div class="product-card__name">
                <a href="{{product.get_absolute_url}}">
                    کالای شماره 2
                </a>
            </div>

        </div>
        <div class="product-card__actions">
            <div class="product-card__availability">موجودی: <span class="text-success">موجود
                    در انبار</span></div>
            <div class="product-card__prices">200,000 تومان</div>
            <div class="product-card__buttons">
                <button class="btn btn-primary product-card__addtocart" type="button">
                    افزودن به سبد
                </button>
                <button
                    class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist"
                    type="button">
                    <i class="fa fa-heart"></i>
                    <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
                </button>
                <button
                    class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist"
                    type="button">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
                </button>
            </div>
        </div>
    </div>
{% endif %}